
#navImg {
    height: 6rem;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #705F57;
    color: #FFF;
    padding: 3% 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand {
    float: left;
    min-height: 50px;
    padding: 0 15px 15px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
    background-color: #705F57;
}

.navbar-inverse .navbar-nav li a {
    color: #D5D5D5
}

.carousel-caption {
    top: 60%;
    transform: translateY(-50%);
}

@media (max-width: 600px){
    .carousel-caption {
        display: none;
    }
    #icon {
        max-width: 145px;
    }
}
.carousel-inner .item img {
    width: 100%;
}

#bookNowBtn {
    margin: 10px -50px; 
    position: relative;
    top:50%; 
    left:50%;
}

#icon {
    margin: 1% auto;
    width: 300px;
    height: 250px;
    object-fit: cover;
}

body {
    background-color: #EDE9DE;
}

.container {
    margin: 4% auto;
}

#bannerDells {
    width: 100%;
    position: relative;
}

#bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 10px;
    right: 10px;
    transform: translate(-50%, -50%);
    font-size: larger;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

footer {
    width: 100%;
    background-color: #C3AC9C;
    padding: 3%;
    color: #fff;
}

.fa {
    padding: 20px;
    font-size: 30px;
}

#copy {
    font-size: 18px;
}

#smallcopy {
    font-size: 11px;
}

#footerLogo {
    width: 7%;
    object-fit: cover;
    padding-bottom: 13px;

}

* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  #contactContainer {
    border-radius: 5px;
    background-color: #B9BEB8;
    padding: 40px;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  #ticket {
      font-size: smaller;
  }

  .list-group {
      background-color: #C4AC98;
      width: 50%;
      position: relative;
  }
  